.title{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.subtitle{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
#hero{
    padding: 50%;
    margin: 100px;
}